@charset "UTF-8";
.form-select:after {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-select > select {
  opacity: 0;
  filter: alpha(opacity=0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/***********************************************************************************
   Reset
 **********************************************************************************/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/***********************************************************************************
   Icon
 **********************************************************************************/
@font-face {
  font-family: 'JackIcon';
  src: url("../font/jackicon.eot");
  src: url("../font/jackicon.eot?#iefix") format("embedded-opentype"), url("../font/jackicon.ttf") format("truetype");
}
.form-select:before {
  font-family: 'JackIcon', serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***********************************************************************************
   Form
 **********************************************************************************/
.form-control, .form-select, .btn {
  color: #333;
  display: block;
  height: 34px;
  font-size: 14px;
  line-height: 1.4285714286;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
}

.form-control, .form-select {
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus, .form-select.focus {
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control[disabled], .form-select.disabled, .form-control[readonly] {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled], .form-select.disabled {
  cursor: not-allowed;
}

.form-control::-moz-placeholder {
  line-height: 1.4285714286;
  color: #ccc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  line-height: 1.4285714286;
  color: #ccc;
}
.form-control::-webkit-input-placeholder {
  line-height: 1.4285714286;
  color: #ccc;
}

textarea.form-control {
  height: auto;
}

.form-select {
  position: relative;
}
.form-select:before {
  content: '\E000';
  float: right;
}
.form-select:after {
  color: #ccc;
  display: block;
  margin-right: 10px;
  content: attr(data-placeholder);
}
.form-select.focus:before {
  content: '\E001';
  color: #66afe9;
}
.form-select.selected:after {
  color: #333;
  content: attr(data-placeholder);
}
.form-select > select {
  cursor: pointer;
}
.form-select.disabled > select {
  cursor: not-allowed;
}

.btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn:focus, .btn.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn:active, .btn.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn:active:hover, .btn:active:focus, .btn:active.focus, .btn.active:hover, .btn.active:focus, .btn.active.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn[disabled] {
  cursor: not-allowed;
}

/***********************************************************************************
   布局系统
 **********************************************************************************/
.row {
  margin: 0 -15px;
}
.row:before, .row:after {
  content: ' ';
  display: block;
  clear: both;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

/*# sourceMappingURL=jackfront.css.map */
