@charset "UTF-8";
@import "base";

/***********************************************************************************
   Reset
 **********************************************************************************/
*, *:before, *:after {
  @include box-sizing(border-box);
  -webkit-appearance: none;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  color: $color-base;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/***********************************************************************************
   Icon
 **********************************************************************************/
@font-face {
  font-family: 'JackIcon';
  src: url("../font/jackicon.eot");
  src: url("../font/jackicon.eot?#iefix") format("embedded-opentype"), url("../font/jackicon.ttf") format("truetype");
}

%icon {
  font-family: 'JackIcon', serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***********************************************************************************
   Form
 **********************************************************************************/
%control {
  color: $color-base;
  display: block;
  height: $input-height-base;
  font-size: $font-size-base;
  line-height: $line-height-proportion;
  border: 1px solid $color-black4;
  border-radius: $border-radius-base;
  padding: $padding-base-vertical $padding-base-horizontal;
}

%form-control {
  @extend %control;
  width: 100%;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

%form-control-focus {
  $color: $color-input-focus;
  border-color: $color;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(red($color), green($color), blue($color), .6));
}

%form-control-readonly {
  background-color: $color-black5;
  opacity: 1;
}

%form-control-disabled {
  @extend %form-control-readonly;
  cursor: not-allowed;
}

.form-control {
  @extend %form-control;
  @include placeholder;
  &:focus {
    @extend %form-control-focus;
  }
  &[disabled] {
    @extend %form-control-disabled;
  }
  &[readonly] {
    @extend %form-control-readonly;
  }
}

textarea.form-control {
  height: auto;
}

.form-select {
  @extend %form-control;
  position: relative;
  &:before {
    @extend %icon;
    content: '\E000';
    float: right;
  }
  &:after {
    @extend %ellipses;
    @include simulate-placeholder;
    display: block;
    margin-right: 10px;
    content: attr(data-placeholder);
  }
  &.focus {
    @extend %form-control-focus;
    &:before {
      content: '\E001';
      color: $color-input-focus;
    }
  }
  &.selected:after {
    color: $color-base;
    content: attr(data-placeholder);
  }
  &.disabled {
    @extend %form-control-disabled;
  }
  & > select {
    @extend %hidden-cover;
    cursor: pointer;
  }
  &.disabled > select {
    cursor: not-allowed;
  }
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }

  &:focus, &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }

  &:active, &.active {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
    &:hover, &:focus, &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }

  &.disabled, &[disabled] {
    &:hover, &:focus, &.focus {
      background-color: $background;
      border-color: $border;
    }
  }
}

.btn {
  @extend %control;
  @include button-variant($color-btn-default, $bgcolor-btn-default, $bdcolor-btn-default);
  &[disabled] {
    cursor: not-allowed;
  }
}

/***********************************************************************************
   布局系统
 **********************************************************************************/
.row {
  margin: 0 (-$margin-base-layout);
  &:before, &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.col {
  float: left;
  padding: $margin-base-layout;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @extend .col;
    width: 100% / 12 * $i;
  }
  .col-offset-#{$i} {
    margin-left: 100% / 12 * $i;
  }
}